Point velocity from ablation stake coordinates as measured during Rapid Static surveys

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

path = '/home/pelto/Desktop/velocity_mapping/'

f_in = 'conrad_points.csv' #'conrad_points_17_18.csv'

In [2]:
data = pd.read_csv(path + f_in)
data

,survey_no,year,date,name,new_old,surv_name,E,N,Elev
0,1,2015,2015-07-16,NaN,NaN,CONK2,505177.500,5631146.000,1889.398
1,1,2015,2015-07-16,NaN,NaN,CONKJ,504922.800,5630804.000,2022.386
2,1,2015,2015-07-16,CST2,new,CONK3,505188.800,5630627.000,2077.255
3,1,2015,2015-07-16,NaN,NaN,CONKWX,505460.700,5630350.000,2125.817
4,1,2015,2015-07-16,NaN,NaN,CONKWX2,505544.500,5630157.000,2148.195
5,1,2015,2015-07-16,NaN,NaN,CONKIN,505215.900,5629867.000,2209.125
6,1,2015,2015-07-16,NaN,NaN,CONKINK,505278.000,5629838.000,2205.986
7,1,2015,2015-07-16,CST3,old,CONKINK3,505542.800,5629937.000,2177.799
8,1,2015,2015-07-16,CST3,new,CONKINK3A,505544.700,5629931.000,2181.697
9,1,2015,2015-07-16,NaN,NaN,CONKINKJ,505475.700,5630744.000,2089.413
10,1,2015,2015-07-16,CST1,old,CONKINK1,504988.100,5630981.000,1973.154
11,1,2015,2015-07-16,CST1,new,CONKINK1A,504987.400,5630982.000,1972.382
12,1,2015,2015-07-16,NaN,NaN,CONKINKJ3,505101.600,5631178.000,1900.777
13,1,2015,2015-07-16,CST0,new,CONKINK0,505139.800,5631227.000,1880.499
14,1,2015,2015-07-16,NaN,NaN,CONKINKT,505226.200,5631307.000,1827.143
15,2,2015,2015-09-06,NaN,NaN,CONK150906,505221.400,5631288.000,1830.622
16,2,2015,2015-09-06,CST0,old,CONK15STOO,505142.100,5631229.000,1876.806
17,2,2015,2015-09-06,CST0,new,CONK15STON,505142.600,5631227.000,1876.952
18,2,2015,2015-09-06,CST1,old,CONK15ST1O,504990.200,5630988.000,1967.988
19,2,2015,2015-09-06,CST1,new,CONK15ST1N,504991.100,5630988.000,1967.846
20,2,2015,2015-09-06,CST2,old,CONK15ST20,505186.600,5630630.000,2073.432
21,2,2015,2015-09-06,CST2,new,CONK15ST2N,505186.400,5630627.000,2074.198
22,2,2015,2015-09-06,NaN,NaN,CONK15SUN,505461.500,5630359.000,2122.553
23,2,2015,2015-09-06,NaN,NaN,CONK15SUN2,505541.400,5630160.000,2145.128
24,2,2015,2015-09-06,CST3,old,CONK15ST3O,505541.000,5629942.000,2174.629
25,2,2015,2015-09-06,CST3,new,CONK15ST3N,505540.900,5629941.000,2174.798
26,2,2015,2015-09-06,NaN,NaN,CONK15END,505418.100,5629945.000,2168.898
27,2,2015,2015-09-06,NaN,NaN,CONK,505029.600,5629437.000,2285.536
28,2,2015,2015-09-06,NaN,NaN,CONRADB,505215.100,5629866.000,2209.124
29,2,2015,2015-09-06,NaN,NaN,CONRA,505215.100,5629866.000,2209.124
...,...,...,...,...,...,...,...,...,...
146,6,2018,2018-08-25,CBASE18,control,CBASE18,504931.961,5629778.174,2290.001
147,6,2018,2018-08-25,CBASE18B,control,CBASE18B,504931.961,5629778.174,2290.001
148,6,2018,2018-08-25,CBASE18C,control,CBASE18C,504931.961,5629778.174,2290.001
149,6,2018,2018-08-25,NaN,NaN,CKINWESTB,504330.877,5628442.771,2681.908
150,6,2018,2018-08-25,CST3B,old,CST3B18,505513.892,5629725.175,2194.025
151,6,2018,2018-08-25,CST3C,old,CST3C18L,505671.981,5629590.609,2195.613
152,6,2018,2018-08-25,CST3D,old,CST3D18L,505853.339,5629547.421,2193.362
153,6,2018,2018-08-25,CST3E,old,CST3E,506046.287,5629618.957,2193.080
154,6,2018,2018-08-25,CST3F,old,CST3F,506211.623,5629707.839,2203.110
155,6,2018,2018-08-25,CST3,old,CST3,505469.228,5630201.624,2128.726
156,6,2018,2018-08-25,NaN,NaN,log0824ua_IARK,505060.598,5630538.644,2043.729
157,6,2018,2018-08-25,CST2B,old,CST2B,505063.318,5630544.670,2063.016
158,6,2018,2018-08-25,NaN,NaN,log0824ub_IARK,505159.121,5630630.650,2050.037
159,6,2018,2018-08-25,CST2C,old,CST2C,505174.016,5630647.593,2061.947
160,6,2018,2018-08-25,CST2D,old,CST2D,505304.204,5630740.485,1984.757
161,6,2018,2018-08-25,CST2A,old,CST2A,505002.458,5630409.859,2067.991
162,6,2018,2018-08-25,NaN,NaN,CKINLOW18,505003.489,5630406.949,2068.580
163,6,2018,2018-08-25,CST3A,old,CST3A,505352.590,5629844.216,2191.213
164,6,2018,2018-08-25,CST3AL,old,CST3AL,505348.243,5629873.059,2184.145
165,6,2018,2018-08-25,NaN,control,COLDBASE,505215.935,5629869.488,2209.433
166,6,2018,2018-08-25,NaN,control,CCONTROL1,505215.028,5629861.102,2208.740
167,6,2018,2018-08-25,NaN,control,CCONTROL2,505193.634,5629867.753,2206.559
168,6,2018,2018-08-25,CST4,old,CST4,505384.293,5629271.946,2281.242
169,6,2018,2018-08-25,CST5B,old,CST5B,505303.306,5628698.384,2366.699
170,6,2018,2018-08-25,CST5C,old,CST5C,505496.121,5628474.482,2381.303
171,6,2018,2018-08-25,CST5D,old,CST5D,505734.903,5628545.944,2380.616
172,6,2018,2018-08-25,CST5E,old,CST5E,506085.357,5628598.947,2387.664
173,6,2018,2018-08-25,CST5F,old,CST5F,506575.937,5628602.517,2376.915
174,6,2018,2018-08-25,CST7ES,old,CST7ES,506848.004,5627900.397,2455.451
175,6,2018,2018-08-25,CST8E,old,CST8E,506860.395,5627626.520,2504.678

also need to calculate velocity (m/yr) and azimuth

In [3]:
# T

In [4]:
Dis=pd.DataFrame({})
for num in np.arange(2,7,1):  
    T=np.array(data[(data.survey_no==num)].name)
    for n in T:
        if n==np.nan:
            continue
        x=np.where(np.array(data[data.survey_no==num-1].name)==n)[0]
        
        if len(x)==0:
            continue
        else:
            G=data[data.index==x[0]]
            if np.array(G.new_old=='new')[0]:
                eNEW=int(G.E)
                nNEW=int(G.N)
                
                eOLD=int(data[(data.name==n) & (data.survey_no==num)&(data.new_old=='old')].E)
                nOLD=int(data[(data.name==n) & (data.survey_no==num)&(data.new_old=='old')].N)
                
                
                distance = np.sqrt((eNEW - eOLD)**2 + (nNEW - nOLD)**2)
                
#                 D_MATH = distance
                Ele=int(data[(data.name==n) & (data.survey_no==num)&(data.new_old=='old')].Elev)
                Date=int(data[(data.name==n) & (data.survey_no==num)&(data.new_old=='old')].year)
                Dis=Dis.append({'Name':n,'eNew':(eNEW), 'nNew':(nNEW),'eOld':(eOLD),'nOld':(nOLD),
                                'Elevation':Ele,'Year':Date, 'Displacement':distance}, ignore_index=True)
                

# for i in data['date'];
#     if survey_no == 2;

In [5]:
# data[(data.name==n) & (data.survey_no==num)]#&(data.new_old=='old')].E

In [6]:
Dis

,Displacement,Elevation,Name,Year,eNew,eOld,nNew,nOld
0,3.605551,1876.0,CST0,2015.0,505139.0,505142.0,5631227.0,5631229.0
1,3.605551,1876.0,CST0,2015.0,505139.0,505142.0,5631227.0,5631229.0
2,3.605551,2073.0,CST2,2015.0,505188.0,505186.0,5630627.0,5630630.0
3,3.605551,2073.0,CST2,2015.0,505188.0,505186.0,5630627.0,5630630.0
4,21.540659,1958.0,CST1,2016.0,504987.0,504995.0,5630982.0,5631002.0
5,21.540659,1958.0,CST1,2016.0,504987.0,504995.0,5630982.0,5631002.0
6,818.956043,2068.0,CST2D,2016.0,505544.0,505304.0,5629931.0,5630714.0
7,818.956043,2068.0,CST2D,2016.0,505544.0,505304.0,5629931.0,5630714.0
8,1159.645636,2199.0,CST3C,2016.0,505188.0,505665.0,5630627.0,5629570.0
9,1159.645636,2199.0,CST3C,2016.0,505188.0,505665.0,5630627.0,5629570.0
10,2544.135413,2376.0,CST5B,2016.0,505142.0,505287.0,5631227.0,5628687.0
11,2544.135413,2376.0,CST5B,2016.0,505142.0,505287.0,5631227.0,5628687.0
12,15.811388,1956.0,CST1,2017.0,504987.0,504996.0,5630982.0,5630995.0
13,810.195655,2066.0,CST2A,2017.0,505139.0,504988.0,5631227.0,5630431.0
14,810.195655,2066.0,CST2A,2017.0,505139.0,504988.0,5631227.0,5630431.0
15,525.680511,2061.0,CST2D,2017.0,505142.0,505298.0,5631227.0,5630725.0
16,525.680511,2061.0,CST2D,2017.0,505142.0,505298.0,5631227.0,5630725.0
17,380.532522,2134.0,CST3,2017.0,505354.0,505483.0,5629821.0,5630179.0
18,1195.190780,2191.0,CST3A,2017.0,504991.0,505350.0,5630988.0,5629848.0
19,1195.190780,2191.0,CST3A,2017.0,504991.0,505350.0,5630988.0,5629848.0
20,956.882960,2195.0,CST3B,2017.0,505186.0,505511.0,5630627.0,5629727.0
21,956.882960,2195.0,CST3B,2017.0,505186.0,505511.0,5630627.0,5629727.0
22,503.507696,2194.0,CST3D,2017.0,505540.0,505856.0,5629941.0,5629549.0
23,503.507696,2194.0,CST3D,2017.0,505540.0,505856.0,5629941.0,5629549.0
24,556.561767,2284.0,CST4,2017.0,505856.0,505375.0,5629522.0,5629242.0
25,1381.552750,2372.0,CST5A,2017.0,506050.0,504918.0,5629608.0,5628816.0
26,1955.714192,2376.0,CST5B,2017.0,505192.0,505295.0,5630627.0,5628674.0
27,2116.289441,2384.0,CST5C,2017.0,505077.0,505493.0,5630522.0,5628447.0
28,2034.725043,2382.0,CST5D,2017.0,504995.0,505736.0,5630419.0,5628524.0
29,474.688319,2420.0,CST6E,2017.0,506378.0,506523.0,5628620.0,5628168.0
30,1178.432858,2448.0,CST7E,2017.0,505867.0,506815.0,5628658.0,5627958.0
31,1178.432858,2448.0,CST7E,2017.0,505867.0,506815.0,5628658.0,5627958.0
32,1077.764353,2128.0,CST3,2018.0,505139.0,505469.0,5631227.0,5630201.0
33,398.814493,1984.0,CST2D,2018.0,504987.0,505304.0,5630982.0,5630740.0
34,1331.381238,2380.0,CST5D,2018.0,505354.0,505734.0,5629821.0,5628545.0
35,1237.303520,2387.0,CST5E,2018.0,505507.0,506085.0,5629692.0,5628598.0
36,1167.630507,2376.0,CST5F,2018.0,505856.0,506575.0,5629522.0,5628602.0
37,3400.868271,2504.0,CST8E,2018.0,505077.0,506860.0,5630522.0,5627626.0