Point velocity from ablation stake coordinates as measured during Rapid Static surveys

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

path = '/home/pelto/Desktop/velocity_mapping/'

f_in = 'conrad_points.csv' #'conrad_points_17_18.csv'

In [14]:
data = pd.read_csv(path + f_in)
data

,survey_no,year,date,name,new_old,surv_name,E,N,Elev
0,5,2017,2017-09-07,CBASE17,control,CBASE17,505216.000,5629869.000,2209.583
1,5,2017,2017-09-08,CBASE17B,control,CBASE17B,505216.000,5629869.000,2209.583
2,5,2017,2017-09-09,CBASE17C,control,CBASE17C,505216.000,5629869.000,2209.583
3,5,2017,2017-09-08,CST0,old,CST0,505071.600,5631138.000,1903.496
4,5,2017,2017-09-08,CST1,old,CST1,504996.000,5630995.000,1956.557
5,5,2017,2017-09-08,CST2A,old,CST2A,504988.400,5630431.000,2066.464
6,5,2017,2017-09-08,CST2A,new,CST2AN,505012.100,5630401.000,2072.753
7,5,2017,2017-09-08,CST2B,old,CST2B,505059.000,5630541.000,2065.391
8,5,2017,2017-09-08,CST2B,new,CST2BN,505076.100,5630531.000,2067.952
9,5,2017,2017-09-08,CST2C,old,CST2C,505175.100,5630648.000,2064.338
10,5,2017,2017-09-08,CST2C,new,CST2CN,505185.900,5630633.000,2068.206
11,5,2017,2017-09-08,CST2D,old,CST2D,505298.300,5630725.000,2061.832
12,5,2017,2017-09-08,CST2D,new,CST2DN,505309.100,5630711.000,2066.477
13,5,2017,2017-09-08,CST3,old,CST3,505483.100,5630179.000,2134.405
14,5,2017,2017-09-07,CST3A,old,CST3A,505350.500,5629848.000,2191.227
15,5,2017,2017-09-07,CST3A,new,CST3AN,505352.800,5629818.000,2200.213
16,5,2017,2017-09-07,CST3B,old,CST3B,505511.600,5629727.000,2195.910
17,5,2017,2017-09-07,CST3B,new,CST3BN,505508.600,5629693.000,2198.437
18,5,2017,2017-09-07,CST3C,old,CST3C,505669.700,5629596.000,2197.144
19,5,2017,2017-09-08,CST3C,new,CST3CN,505664.800,5629557.000,2201.594
20,5,2017,2017-09-08,CST3D,old,CST3D,505856.100,5629549.000,2194.990
21,5,2017,2017-09-08,CST3D,new,CST3DN,505853.100,5629523.000,2199.703
22,5,2017,2017-09-08,CST3E,old,CST3E,506039.700,5629629.000,2194.005
23,5,2017,2017-09-08,CST3E,new,CST3EN,506051.700,5629603.000,2200.690
24,5,2017,2017-09-08,CST3F,old,CST3F,506156.900,5629724.000,2196.859
25,5,2017,2017-09-08,CST3F,new,CST3FN,506215.600,5629699.000,2207.918
26,5,2017,2017-09-09,CST4,old,CST4,505375.200,5629242.000,2284.823
27,5,2017,2017-09-09,CST5A,old,CST5A,504918.200,5628816.000,2372.378
28,5,2017,2017-09-09,CST5B,old,CST5B,505295.100,5628674.000,2376.493
29,5,2017,2017-09-09,CST5C,old,CST5C,505493.000,5628447.000,2384.159
...,...,...,...,...,...,...,...,...,...
41,6,2018,2018-08-25,CBASE18,control,CBASE18,504931.961,5629778.174,2290.001
42,6,2018,2018-08-25,CBASE18B,control,CBASE18B,504931.961,5629778.174,2290.001
43,6,2018,2018-08-25,CBASE18C,control,CBASE18C,504931.961,5629778.174,2290.001
44,6,2018,2018-08-25,NaN,NaN,CKINWESTB,504330.877,5628442.771,2681.908
45,6,2018,2018-08-25,CST3B,old,CST3B18,505513.892,5629725.175,2194.025
46,6,2018,2018-08-25,CST3C,old,CST3C18L,505671.981,5629590.609,2195.613
47,6,2018,2018-08-25,CST3D,old,CST3D18L,505853.339,5629547.421,2193.362
48,6,2018,2018-08-25,CST3E,old,CST3E,506046.287,5629618.957,2193.080
49,6,2018,2018-08-25,CST3F,old,CST3F,506211.623,5629707.839,2203.110
50,6,2018,2018-08-25,CST3,old,CST3,505469.228,5630201.624,2128.726
51,6,2018,2018-08-25,NaN,NaN,log0824ua_IARK,505060.598,5630538.644,2043.729
52,6,2018,2018-08-25,CST2B,old,CST2B,505063.318,5630544.670,2063.016
53,6,2018,2018-08-25,NaN,NaN,log0824ub_IARK,505159.121,5630630.650,2050.037
54,6,2018,2018-08-25,CST2C,old,CST2C,505174.016,5630647.593,2061.947
55,6,2018,2018-08-25,CST2D,old,CST2D,505304.204,5630740.485,1984.757
56,6,2018,2018-08-25,CST2A,old,CST2A,505002.458,5630409.859,2067.991
57,6,2018,2018-08-25,NaN,NaN,CKINLOW18,505003.489,5630406.949,2068.580
58,6,2018,2018-08-25,CST3A,old,CST3A,505352.590,5629844.216,2191.213
59,6,2018,2018-08-25,CST3AL,old,CST3AL,505348.243,5629873.059,2184.145
60,6,2018,2018-08-25,NaN,control,COLDBASE,505215.935,5629869.488,2209.433
61,6,2018,2018-08-25,NaN,control,CCONTROL1,505215.028,5629861.102,2208.740
62,6,2018,2018-08-25,NaN,control,CCONTROL2,505193.634,5629867.753,2206.559
63,6,2018,2018-08-25,CST4,old,CST4,505384.293,5629271.946,2281.242
64,6,2018,2018-08-25,CST5B,old,CST5B,505303.306,5628698.384,2366.699
65,6,2018,2018-08-25,CST5C,old,CST5C,505496.121,5628474.482,2381.303
66,6,2018,2018-08-25,CST5D,old,CST5D,505734.903,5628545.944,2380.616
67,6,2018,2018-08-25,CST5E,old,CST5E,506085.357,5628598.947,2387.664
68,6,2018,2018-08-25,CST5F,old,CST5F,506575.937,5628602.517,2376.915
69,6,2018,2018-08-25,CST7ES,old,CST7ES,506848.004,5627900.397,2455.451
70,6,2018,2018-08-25,CST8E,old,CST8E,506860.395,5627626.520,2504.678

also need to calculate velocity (m/yr) and azimuth

In [15]:
# T

In [19]:
Dis=pd.DataFrame({})
for num in np.arange(2,7,1):  
    T=np.array(data[(data.survey_no==num)].name)
    for n in T:
        if n==np.nan:
            continue
        x=np.where(np.array(data[data.survey_no==num-1].name)==n)[0]
        
        if len(x)==0:
            continue
        else:
            G=data[data.index==x[0]]
            if np.array(G.new_old=='new')[0]:
                eNEW=int(G.E)
                nNEW=int(G.N)
                
                eOLD=int(data[(data.name==n) & (data.survey_no==num)&(data.new_old=='old')].E)
                nOLD=int(data[(data.name==n) & (data.survey_no==num)&(data.new_old=='old')].N)
                
                
                distance = np.sqrt((eNEW - eOLD)**2 + (nNEW - nOLD)**2)
                
#                 D_MATH = distance
                Ele=int(data[(data.name==n) & (data.survey_no==num)&(data.new_old=='old')].Elev)
                Dis=Dis.append({'Name':n,'eNew':(eNEW), 'nNew':(nNEW),'eOld':(eOLD),'nOld':(nOLD),
                                'Elevation':Ele,'Displacement':distance}, ignore_index=True)
                

# for i in data['date'];
#     if survey_no == 2;

In [20]:
# data[(data.name==n) & (data.survey_no==num)]#&(data.new_old=='old')].E

In [21]:
Dis

Empty DataFrame
Columns: []
Index: []