In [16]:
import numpy as np
import pandas as pd

path = '/home/pelto/Desktop/ice_flux/Conrad/'

f_in = 'Conrad_bdot.csv'    #'conrad_points.csv'

In [17]:
data = pd.read_csv(path + f_in)
data[0:10]

,name,E,N,Elev,HS,rho_snow,Bw,Ba_no_surv,Ba,Year
0,LOWPT,1899.0,2.62,0.5,NaN,NaN,NaN,1.3100,NaN,2017.0
1,CST0,505071.6,5631138.00,1930.0,3.92,0.5,1.96,-5.3963,-5.68,2017.0
2,C1N,505039.0,5631201.00,1906.0,2.25,0.5,1.13,NaN,NaN,2017.0
3,C1,504990.0,5631104.00,1940.0,2.52,0.5,1.26,NaN,NaN,2017.0
4,CST1,504996.0,5630995.00,1980.0,2.52,0.5,1.26,-5.0960,-5.38,2017.0
5,C2,NaN,NaN,1995.0,3.80,0.5,1.90,NaN,NaN,2017.0
6,C2S,NaN,NaN,2018.0,1.46,0.5,0.73,NaN,NaN,2017.0
7,C3,504932.0,5630735.00,2045.0,2.25,0.5,1.13,NaN,NaN,2017.0
8,C3S,NaN,NaN,2074.0,3.03,0.5,1.52,NaN,NaN,2017.0
9,CST2A,504988.4,5630431.00,2080.0,2.42,0.5,1.21,-5.1142,-5.40,2017.0

In [18]:
data = data[data.name=='W']
data

/home/pelto/anaconda2/envs/flux/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match

In [ ]:
# Ba_bin = np.zeros_like(z_range)
# for z in z_range:

#     Ba_bin[i] = obs_data.Ba[ ((z - bin_size/2.) <= obs_data.Elev) & (obs_data.Elev <  (z + bin_size/2.) )]#.mean() 
    
#     ## increment counter for z_area
#     i += 1

# print(Ba_bin)

In [ ]:
obs_data=obs[(obs.Year==year)]
obs_data.reset_index(inplace=True)

bin_size = 100.
z_range = np.arange(2250., 2850., bin_size)
# print(z_range)
# obs_data['Elev_bin'] = np.nan

i = 0
# for n in range(len(obs_data.Ba)):

Z_F = []
Zor_F= []
OB_F=[]

for z in z_range: 
    OBS = []
    Z = []
    Zor = []
    W=0
    bin_size = 100.
    while W==0:
        for n in range(len(obs_data.Ba)):
            if ((z - bin_size/2.) <= obs_data.Elev[n]) and (obs_data.Elev[n] <=  (z + bin_size/2.)):
                O = obs_data.Ba[n]
                Z.append(z)
                Zor.append(obs_data.Elev[n])
                OBS.append(O)

        if len(OBS)<3:
            bin_size=bin_size*1.5
        else:
            OB_F.append(OBS)
            Z_F.append(Z)
            Zor_F.append(Zor)
            
            W=1
    i += 1
OB_F=np.concatenate(OB_F)
Z_F=np.concatenate(Z_F)
Zor_F=np.concatenate(Zor_F)
print(Z_F, len(Z_F))
print(OB_F, len(OB_F))